.navbar::before {
  content: "";
  z-index: -1;
  background-image: url(./assets/home/homebk.jpg);
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  /* background-repeat: no-repeat;
  background-size: cover; */
}
